@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-burger-btn {
    display: none;
  }

  .menu-container {
    display: none;
  }

  .header-list {
    margin-left: 120px;
  }

  .contacts-list {
    flex-wrap: wrap;
    /* margin-left: 40px; */
    justify-content: end;
  }

  .contact-link {
    padding: 0;
  }

  .contact-item {
    /* margin-right: 0;   */
    /* justify-content: end; */
    margin-right: 0;
    margin-bottom: 4px;
  }

  .main {
    margin: 0 auto;
    max-width: 768px;
    position: relative;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet/tablet-people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    display: block;
    background-size: cover;
    align-items: center;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .main-header {
    font-size: 56px;
    line-height: 60px;
    max-width: 494px;
  }

  .modal {
    width: 408px;
  }

  .attitudes-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    column-gap: 24px;
    row-gap: 72px;
  }

  .attitudes-item {
    max-width: 356px;
    /* margin-bottom: 72px;
    margin-right: 24px; */
    width: calc(100% / 2);
    margin-bottom: 0;
  }

  .team {
    padding-bottom: 104px;
  }

  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    /* flex-direction: row; */
    
  }

  .team-item {
  }
}

@media screen and (max-width: 1199px) {
  .attitudes-icons {
    display: none;
  }

  .products {
    display: none;
  }
}
